<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.5.7.10213" />
  <package id="SpecFlow" version="1.4.0" />
  <package id="Machine.Specifications" version="0.4.13.0" />
  <package id="Machine.Fakes" version="0.2.3.3" />
  <package id="Moq" version="4.0.10827" />
  <package id="Machine.Fakes.Moq" version="0.2.3.3" />
</packages>